# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#*.vcxproj
*.filters
*.user

# Exclude the bakup files
*.bak

# Exclude the Project
/Default Solution/UnitTest*/x64/
/Default Solution/MainRun/x64/
/Default Solution/Field*/x64/
/Default Solution/OldFriendWindowsForm/x64/
/Default Solution/.vs/
/Default Solution/x64/



